.main{
    margin-left: 150px;
}
.divWidth{
    width: 30%;
}
.usersList{
    background-color: #C5DFFF;
}
.link{
    text-decoration: none;
    color: black;
    background-color: #ECECEC;
}
.userBg{
    background-color: #ECECEC;
}
.userBg:hover{
    background-color: #D4D4D4;
    color: black;
}
.inputTitle{
    margin-right: 150px;
}
.inputTitle2{
    margin-right: 160px;
}
.inputTitle3{
    margin-right: 180px;
}
input,textarea{
    background-color: #DBDBDB;
    border: 1px solid black;
    border-radius: 5px;
}